# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

 - List popular languages for Data Science.
 - Some of the commonly used libraries used by Data Scientists include:
 - Below are a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. First R.
2. Second Python.
3. Third SQL.

Some of the commonly used libraries used by Data Scientists include:

1.  Numpy.
2.  Pandas.
3.  Scikit-learn.

|Data Science Tools|
|------------------|
|Wekas|
|Pandas|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

|Examples|
|--------|
|x+y|
|x/y|
|x-y|

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
   Esteban Orlando Oviedo Sandoval.